<!--
  The mobile platform base.
  
  Selector for the base.
 -->
<launch>
  <arg name="base"/>
  <arg name="serialport"/>
  <arg name="namespace"/>
  <include file="$(find navigation_under_namespace)/launch/includes/kobuki/mobile_base.launch">
    <arg name="serialport" value="$(arg serialport)" />
    <arg name="namespace" value="$(arg namespace)"/>
  </include>
</launch>

