<launch>
	<arg name="robotName1" default="robot_0" />

	<arg name="base"              default="$(env TURTLEBOT_BASE)"         doc="mobile base type [create, roomba]"/>
	<arg name="stacks"            default="$(env TURTLEBOT_STACKS)"       doc="stack type displayed in visualisation/simulation [circles, hexagons]"/>
	<arg name="3d_sensor"         default="$(env TURTLEBOT_3D_SENSOR)"    doc="3d sensor types [kinect, asux_xtion_pro]"/>
	<include file="$(find turtlebot_bringup)/launch/includes/description.launch.xml">
		<arg name="base" value="$(arg base)" />
		<arg name="stacks" value="$(arg stacks)" />
		<arg name="3d_sensor" value="$(arg 3d_sensor)" />
	</include>

	<arg name="map_file" default="$(find navigation_under_namespace)/maps/twoRooms.yaml" />
	<node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" respawn="false" >
		<param name="frame_id" value="/map" />
	</node>
	<group ns="robot_0">
		<param name="tf_prefix" value="$(arg robotName1)" />
		<include
			file="$(find navigation_under_namespace)/launch/includes/single_robot_wild.launch">
			<arg name="namespace" value="$(arg robotName1)" />
			<arg name="initial_pose_x" value="0.0" />
			<arg name="initial_pose_y" value="0.0" />
			<arg name="initial_pose_a" value="0.0" />
		</include>
	</group>
</launch>
